.buttons_container {
    display: flex;
    align-items: flex-start;
    justify-content: center;

}


.customButton {
    height: 150px;
    margin-right: 40px;
    cursor: pointer;
   
}

.customButton:nth-child(1) {
    width: 150px;
}

.customButton:nth-child(2) {
    width: 70px;
}

.customButton:nth-child(3) {
    width: 150px;
}